<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <title>API Endpoint</title>

</head>
<body>
<a href="{% url 'home' %}" target="_blank" class="button"><button style="background: gray ; font-size: small;font-family: DialogInput,serif;width: fit-content ; color: blue"><h5>BACK HOME </h5></button></a>

    <h1>API Endpoint</h1>
    <p>Click the button below to access the API:</p>

    <a href="{{ api_url }}" target="_blank" class="button"><button style="background: gray ; font-size: small;font-family: DialogInput,serif;width: fit-content ; color: blue"><h5>Access APIs</h5></button></a> or you can  also choose
    <a href="http://127.0.0.1:8000/api" target="_blank" class="button"><button style="background: gray ; font-size: small;font-family: DialogInput,serif;width: fit-content ; color: blue"><h5>View API ROOT </h5></button></a>
</body>
</html>
